@import "../designUtils/colors";

.loadingView {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;

	&__spinnerIcon {
		margin-right: 10px;
		width: 20px;
		height: 20px;
		border: 3px solid $gray;
		border-top: 3px solid $black;
		border-radius: 50%;
		animation: spinner 1.3s linear infinite;
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}