@import "../designUtils/fonts";

.NewBooking {
    &__roomName {
        font-weight: 600;
        font-size: 22px;
        font-family: $headerFontFamily;
    }

    form {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
}