@import "../designUtils/fonts";
@import "../designUtils/colors";

.NewBooking {
    
    &__roomName {
        font-weight: 300;
        padding-left: 2px;
        line-height: 2em;
    }

    form {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        line-height: 2em;
        font-weight: 300;
        input {
            width: 170px;
            padding: 5px;
            border: 2px solid $black;
            border-radius: 5px;
            font-size: 16px;
            margin: 3px 0px 3px 10px;
        }
    }
}