@import "../designUtils/fonts";

.SingleMeetingRoom {
	&__details {
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;

		&__name {
			font-weight: 600;
			font-size: 20px;
			font-family: $headerFontFamily;
		}
		&__capacity {
			font-size: 15px;
			font-weight: 300;
		}
		&__floor {
			font-size: 15px;
			font-weight: 300;
		}
	}
}
